#cover {
	background: #ffffff;
	height: 93%;
	width: 100%;
	position: absolute;
	z-index: 1;
}
.jsEnabled{
	left: 1000000px;
}
#leftSidebarCover, #rightSidebarCover {
	background: #ffffff;
	height: 100%;
	position: absolute;
	z-index: 1000;
	width: 10000px;
	display: block !important;
}
#leftSidebarCover {
    left: -10001px;
}
#rightSidebarCover {
    right: -10001px;
}
#startedText {
	padding-top: 85px;
	padding-left: 80px;
}
#sku {
	padding-right: 65px;
}
#objectsDart {
	padding-top: 10px;
}
#quoteOne{
	padding-left: 80px;
	padding-top: 60px;
	padding-bottom: 45px;
}
#gloves {
	padding-top: 50px;
}
#playfulText{
	padding-top: 70px;
}
#art {
	padding-bottom: 80px;
}
#quoteTwo {
	padding-bottom: 164px;
	padding-left: 70px;
}
#shoes{
	padding-top: 100px;
}
#text1{
	padding-top: 180px;
}
#worker {
	padding-top: 27px;
}
#text {
	padding-top: 104px;
	padding-left: 68px;
}
.offsetLeft {
	margin-left: -540px;
}

/* This is for HTML headers - not currently used
.cl-header {
	background-color: red !important;
	color: #ffffff;
}
*/
.cl-header {
	margin: 40px 0;
}

div.section + .section {
	float: right;
}
html {
	overflow-x: hidden;
}
.bottle {
	z-index: -1; /*Goes behind everthing*/
}
#bottle {
	left: 185px;
	top: 1600px;
	position: absolute;
}
#stem {
	left: 271px;
	position: absolute;
	top: 0px;
}
/*These things all go behind the product */
#shoes, #dancingGuy, #art {
	z-index: -2;
}






