.moveLeft {
	left: -388px;
}
.moveRight{
	right: -388px;
}
#cl-banner {
	background: #000000;
}
#cl-banner .section{
	float: left;
}
#cover {
	background: #ffffff;
	height: 93%;
	width: 100%;
	position: absolute;
	z-index: 10;
}
.jsEnabled{
	left: 1000000px;
}
#leftSidebarCover, #rightSidebarCover {
	background: #ffffff;
	height: 100%;
	position: absolute;
	z-index: 1000;
	width: 10000px;
	display: block !important;
}
#leftSidebarCover {
    left: -10001px;
}
#rightSidebarCover {
    right: -10001px;
}
#scrollDown {
	margin-top: 30px;
	left: 330px;
	text-align: center;
	position: absolute;
	z-index: 4;
}
#startedText {
	padding-left: 72px;
}
#sku {
	padding-right: 70px;
}
#video {
	z-index: -1;
	margin-top: 7px;
}
#objectsDart {
	padding-top: 40px;
	margin-right: 15px;
}
#quoteOne{
	padding-left: 80px;
	padding-top: 50px;
	padding-bottom: 45px;
}
#gloves {
	padding-top: 20px;
	z-index: -1;
}
#playfulText{
	padding-top: 36px;
	padding-right: 55px;
}
#art {
	padding-bottom: 8px;
}
#quoteTwo {
	padding-bottom: 164px;
	padding-left: 74px;
	padding-top: 67px;
}
#shoes{

}
#bottle{
	z-index: 1;
}
#redSweaterRow {
	margin-top: 466px;
}
#text1 {
	padding-top: 72px;
	padding-right: 88px;
}
#worker {

}
#text {
	padding-top: 45px;
	padding-left: 120px;
}
.offsetLeft {
	margin-left: -540px;
}

/* This is for HTML headers - not currently used
.cl-header {
	background-color: red !important;
	color: #ffffff;
}
*/
.cl-header {
	margin: 40px 0;
}

div.section + .section {
	float: right;
}
html {
	overflow-x: hidden;
}
.bottle {
}
#stem {
	left: 280px;
	position: absolute;
	top: 120px; /*These settings are for when there is no JS running on the page.*/
	z-index: 2;
}
#applicator{
	position: absolute;
	z-index: 0;
	top: 1930px;
	left:280px;
}
#bottle {
	left: 174px;
	position: absolute;
	top: 2250px; /*These settings are for when there is no JS running on the page.*/
	z-index: 1;
}
/*These things all go behind the product */
#shoes, #dancingGuy, #art {
	z-index: -2;
}






